[package]
name = "derive-getters"
version = "0.0.4"
authors = ["Stephan Luther <kvsari@gmail.com>"]
license = "MIT"
description = "Simple boilerplate getters generator."
repository = "https://github.com/kvsari/derive-getters"

[lib]
name = "derive_getters"
proc-macro = true

[dependencies]
quote = "0.5.2"
syn = "0.13.1"
